form{
    background-color: coral;
    margin-right: 500px;
    margin-left: 500px;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

input  {

}

h2{
    border: solid;
    margin-left: 500px;
    margin-right: 500px;
    padding-top: 5px;
    padding-bottom: 5px;
}


body{
    text-align: center;
}

